<section class="new_message_main">
  <div class="create">
    <div class="container">
      <h2 class="message_heading">Share your Beats with your Besties!</h2>
     	<%= form_for(@message) do |f| %>  
    		<div class="field">
      		<%= f.text_area :content %> 
    		</div> 
    		<div class="actions"> 
      		<%= f.submit "Create" %> 
    		</div> 
  		<% end %>
    </div>
  </div>
</section>