<section class="about_page">
    <div class="container">
      <h2 class="message_heading">About Besties</h2>
        <%= image_tag("music.svg", :alt => "message icon") %>
        <p>Besties is the social media app for music lovers. A place where friends and family can share their love for music with one another anywhere in the world.</p></br>
        <%= image_tag("lightbulb.svg", :alt => "message icon") %>
        <p>The idea is based on sharing your musical experiences with others and a place where others can appreciate your music taste, memories or just plain rhythm</p></br>
        <%= image_tag("volume.svg", :alt => "message icon") %>
        <p>See what your friends are listenining to, or better yet, write a message for your bestie on the musical wall</p></br>
        <%= image_tag("microphone.svg", :alt => "message icon") %>
        <p>This app is still in developement but soon you will be able to login and tag all your friends so they can get notified when you are remembering "that one time you sang at karaoke night"</p>
    </div>
</section>
