<section class="about_page">
    <div class="inner">
        <h1>About Besties</h1>
        <p>Besties is the social media app for music lovers. A place where friends and family can share their love for music with one another.</p>
        <p>Lorem Ipsum</p>
    </div>
</section>
