<div class="main">
        <section class="home_banner">
        <div class="banner_text">
            <div class="inner">
                <h1>Welcome to Besties</h1>
                <p>Where friends find frequency</p>
            </div>
        </div>
    </section>
</div>