/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 colors:
 
 Green:
     main- #74E600
     lightest: #A5EC5C
     light: #8EE734
     dark: #5AB200
     darkest: #478C00
 
 orange:
     main: #FF3D00;
     lightest: #FF8964;
     light: #FF6939;
     dark: C63000;
     darkest:9B2500;
 blue:
     main:0969A2
     lightest:4F92BA
     light:2D7AA8
     dark:07527E
     darkest:044063
 */
h1{
    text-align:center;
}
.inner p{
    text-align:center;
    
}
.inner{
    display:block;
    width:100%;
    max-width:900px;
    margin-left:auto;
    margin-right:auto;

}
img.messanger_logo{
    display:block;
    width:100px;
    height:auto;
}
nav{
    margin: 0px;
    height:100px;
    z-index: 99;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    display:block;
    position: relative
}
nav ul {
    display: inline-block;
    float: right;
    background-color: #FF3D00;
    margin: 0;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
}
.main{
    z-index: 10;
}
nav ul li{
    display:inline-block;
    line-height: 100px;
    text-decoration: none;
    color: #000;
}
nav ul li a{
    padding-left:20px;
    padding-right:20px;

    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    text-decoration: none;
    color: #fff;
    BACKGROUND-COLOR: #4F92BA;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding: 5px 20px;
}
.brand_main{
    display: inline-block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 100px;
    height: 100px;
    background-color: #FF3D00;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
}
.brand_inner{
        color: #FF3D00;
    background-color: #4F92BA;
    font-size: 60px;
    height: 10px;
    width: 10px;
    line-height: 0px;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    padding-top: 60px;
    padding-left: 66px;
    margin-left: 30px;
    font-weight: 600;
}

.home_banner{
    display:inline-block;
    width:100%;
    height:100vh;
    background-image: url('donut.jpg');
    background-position: center center;
    background-size: cover;
    margin: 0;
    margin-top:-100px;
    z-index: 1;
    position: relative;
   
    
}
.banner_text{
    position: relative;   
    width: calc(100% - 20px)
    padding:10px;
    display:block;
    margin-top:22vh;
    border-radius:45px;
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
    
}
.banner_text .inner h1{
    color:#fff;
    font-size:72px;
}
.banner_text .inner p{
    color:#fff;
    font-size:50px;
}
.home_CTA{
        display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    
}
.home_CTA a{
    color:white;
    text-decoration: none;
    text-align: center;
    background-color: #FF3D00;
    padding:20px 45px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    
   
}
.home_CTA a:hover{
        text-decoration: none;
    color: #fff;
    BACKGROUND-COLOR: #4F92BA;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding:20px 45px;
}
footer{
    height:100px;
    background-color: #FF3D00;
    margin:0px;
    width:100%;
 
    
}
footer p{
    color:#fff;
    text-align: center;
    line-height: 100px;
    
}
.message_main{
    display:inline-block;
    width:100%;
    min-height:100vh;
 
    background-image: url('surfing.jpg');
    background-position: center center;
    background-size: cover;
    margin: 0;
        margin-top: -100px;
    z-index: 1;
    position: relative;
}
    
.new_message_main{
    display:inline-block;
    width:100%;
    height:100vh;
    background-image: url('dj.jpg');
    background-position: center center;
    background-size: cover;
    margin: 0;
        margin-top: -100px;
    z-index: 1;
    position: relative;

    
}
.about_page{
    display:inline-block;
    width:100%;
    height:100vh;
    background-image: url('dj.jpg');
    background-position: center center;
    background-size: cover;
    margin: 0;
    margin-top: -100px;
    padding-top:200px;
    z-index: 1;
    position: relative;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    
}
.about_page p{
    color:#fff;
    text-align: center;
}
.mobile_nav_ul {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .7
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .7
    }
    to {
        opacity: 1
    }
}

h2.message_heading{
        text-align:center;
        color:#fff;
        font-size: 50px;
}

.about_page img{
    margin: 15px 0 15px 0;
    width: 60px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
    


@media screen and (max-width: 680px) {
    
    .banner_text .inner h1 {
    color: #fff;
    font-size: 64px;
}
.banner_text .inner p {
    color: #fff;
    font-size: 28px;
}

    nav ul{
        display:none;
    }
    .menu_nav {
    position: absolute;
    top: 32px;
    right: 20px;
    width: 36px;
    height: 36px;
    padding: 0px 0px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    z-index: 999999999999999999;
    }
    .mobile_nav_ul {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #ff3d00;
        top: -1200px;
        left: 0;
        position: absolute;
        padding: 0;
        margin: 0;
        /* animation-name: down;
        animation-duration: 1s; */
        
        
    }
    nav ul {
        border-bottom-right-radius: 0px;
    }
    
    .mobile_nav_ul.show {
        display: block;
        width: 100%;
        height: 100px;
        background-color: #ff3d00;
        top: 0px;
        left: 0;
        position: fixed;
        padding: 0;
        margin: 0;
        border-top-right-radius: 45px;
        border-bottom-left-radius: 45px;
    }
    .mobile_nav_container {
        top: -1200px;
        display: block;
    }
    .mobile_nav_container.show {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #262626;
        top: 0;
        left: 0;
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 999;
    }

    .mobile_nav_li {
        list-style-type: none;
    }
    span.menu_line {
        width: 100%;
        height: 4px;
        display: block;
        background: #ff3d00;
        margin: 6px 0;
        transition: .5s;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    
    span.menu_line.active {
        position: absolute;
        width: 36px;
        top: calc(50% - 8px);
        background-color: #fff;
    }
    span.menu_line.active:nth-child(1) {
        transform: rotate(45deg);
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    span.menu_line.active:nth-child(3) {
        transform: rotate(-45deg);
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    span.menu_line.active:nth-child(2) {
        display: none;
    }
    h2.message_heading{
        text-align:center;
        color:#fff;
        font-size: 28px;
    }
    .message_main{
    display:inline-block;
    width:100%;
    min-height:100vh;
 
    background-image: url('surfing.jpg');
    background-position: center center;
    background-size: cover;
    margin: 0;
        margin-top: -100px;
    z-index: 1;
    position: relative;
}
    
.new_message_main{
    display:inline-block;
    width:100%;
    height:100vh;
    background-image: url('dj.jpg');
    background-position: center center;
    background-size: cover;
    margin: 0;
        margin-top: -100px;
    z-index: 1;
    position: relative;

    
}
    
    
    
}